/*去掉表格单元格边框*/
.customer-no-border-table th{
    border:none;
  }
  .customer-no-border-table td,.customer-no-border-table th.is-leaf {
    border:none;
  }
  /*表格最外边框*/
  .customer-no-border-table .el-table--border, .el-table--group{
    border: none;
  }
  /*头部边框*/
  .customer-no-border-table thead tr th.is-leaf{
    border: 0px solid #EBEEF5;
    border-right: none;
  }
  .customer-no-border-table thead tr th:nth-last-of-type(2){
    border-right: 0px solid #EBEEF5;
  }
  /*表格最外层边框-底部边框*/
  .customer-no-border-table .el-table--border::after,.customer-no-border-table .el-table--group::after{
    width: 0;
  }
  .customer-no-border-table::before{
    width: 0;
  }
  .customer-no-border-table .el-table__fixed-right::before,.el-table__fixed::before{
    width: 0;
  }
  .customer-no-border-table .el-table__header tr th{
    background: #fff;
    color: #333333 ;
    padding: 3px ;
    font-weight: 550;
    height: 36px ;
    border: 0px;
    font-size: 15px;
  }
  /*去掉鼠标悬停背景颜色*/
  .el-table tbody tr:hover>td {
    background-color:#ffffff!important
  }
